version: "3.9"

services:
  api:
    build: .
    container_name: note_api
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./src/database:/app/src/database
    restart: unless-stopped