name: Run CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'

      - name: Instalar dependencias
        run: npm install

      - name: Compilar TypeScript y copiar archivos
        run: npm run build

      - name: Ejecutar tests
        run: npm test
